*/{
    margin: 0;
    padding: 0;
}

.grid{
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 100px);
}

.item{
    background-color: orangered;
}
.item:nth-child(1){
    grid-row: span 2;
    grid-column: span 3;
}
.item:nth-child(2), .item:nth-child(3), .item:nth-child(7){
    grid-row: span 1;
    grid-column: span 2;
}
.item:nth-child(4){
    grid-row: span 1;
    grid-column: span 5;
}
.item:nth-child(5){
    grid-row: span 2;
    grid-column: span 1;
}
.item:nth-child(6), .item:nth-child(8), .item:nth-child(9){
    grid-row: span 1;
    grid-column: span 1;
}
.item:nth-child(10){
    grid-row: span 1;
    grid-column: span 3;
}
